@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

*{
    margin: 0px;
}

ul{
    background-color: #2c3e50;
    color: #fff;
    font-family: Montserrat;
    padding-left: 117px; 
}

li{
    display: inline-block;
    font-size: 15px;
    padding: 35px;
}

li:first-child{
    font-size: 30px;
    padding: 35px;
    font-weight: 900;
}

.profile{
    position: relative;
    padding: 100px 550px 10px;
    margin-left: auto;
    margin-right: auto

}

.text{
    color: rgb(252, 249, 249);
    font-family: montserrat;
    font-size: 75px;
    text-align: center
}

.text2{
    color: rgb(252, 249, 249);
    font-family: lato;
    font-size: 30px;
    text-align: center;
    padding: 13px;
}

.parte{
    background-color: #18bc9c;
    height: 570px;
    
}
.estrela{
    padding: 0px 0px 0px 550px ;
}

.text-portfolio{
    color: #2c3e50;
    margin-top: 80px;
    font-family: montserrat;
    font-size: 50px;
    text-align: center;
    
}
.estrela-azul{
    padding: 0px 0px 20px 550px ;
}
.seis{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0px 70px;

}
.seis>img{
    width: 28vw;
    margin-bottom: 30px;
}
.about{
    background-color: #18bc9c;
    color: rgb(252, 249, 249);
    font-family: montserrat;
    font-size: 45px;
    text-align: center;
    margin-top: 5%;
    padding-top: 5%
}
.about-text{
    display: flex;
    align-content: flex-start;
    margin: 10px 200px;
    color: rgb(252, 249, 249);
    font-family: lato;
    font-size: 22px;
    text-align: justify;
    padding: 13px;

}
.p1{
    margin: 5px 50px;
}
.download{
    background-color: transparent;
    border: 1px solid transparent;
    font-family: 'Lato', sans-serif;
    padding: 15px;
    color: white;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 45%;
    position: relative;
    border-color: #f8f9fa;
    border-width: 2px;
    cursor: pointer;
}
.form{
    position: relative;
}
 
 .formulario{
     margin: 0 280px;
     border: none;
     color: #495057;
     padding-bottom: 20px;

}
 .formulario >input{
    width: 100%;
    border: none;
    border-bottom: solid 1px gray;
    padding: 20px 0;
    font-family: 'Lato';
    font-size: 20px;
}

 .formulario >textarea{
    width: 100%;
    border: none;
    border-bottom: solid 1px gray;
    padding-bottom: 45px;
    resize: none;
    padding: 20px 0;
    font-family: 'Lato';
    font-size: 20px;
}

 #click{
     background-color: #18BC9C;
     font-family: 'Lato';
     border: none;
     padding: 17px 20px;
     color: white;
     font-size: 17px;
     border-radius: 7px;
     margin: 20px 0;
     position: relative;
     box-sizing: border-box;
}
 .fundo{
     background-color:#2c3e50;
     height: 250px;
}

 .midias{
    color: rgb(252, 249, 249);
    font-family: montserrat;
    font-size: 30px;
    text-align: center;
    padding-top: 70px;
}
.copyright{
    background-color:#021324;
    height: 50px;
    color: rgb(252, 249, 249);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    padding-top: 25px
}